#title_container {
    height: 11;
    width: 100%;
    layout: grid;
    grid-size: 8 8;
    background: #1a1a2e;
    border: thick #2a2a45;
    margin: 1 1 0 1;

    align: center middle;
}

#title {
    row-span: 8;
    column-span: 8;
    color: #00bcd4;
    text-style: bold;
}

#button_container_vertical {
    align: center middle;
    height: 20;
}

#send, #receive, #calibrate {
    margin: 1 0;
    width: 50;
}

#send, #receive {
    background: #008c9e;
    color: #e0e0ff;
    text-style: bold;
}

#send:hover, #receive:hover {
    background: #00bcd4;
}

#calibrate {
    background: transparent;
    color: #8888aa;
    border: dashed #2a2a45;
}

#calibrate:hover {
    # background: #23233a;
    color: #e0e0ff;
    border: solid #00bcd4;
}
